@model CS4790TeamProject.Models.ViewModels.OrdersViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Create Order</h2>
<hr />
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-0">
                <label asp-for="PurchaseOrder.Vendor.VendorName" class="control-label">Vendor:</label>
                <div class="input-group">
                    <select asp-for="PurchaseOrder.Vendor.VendorName" class="form-control" name="VendorID" asp-items="@ViewBag.VendorID"></select>
                    <div class="col-1 text-right">
                        <span class="input-group-append">
                            <a class="btn btn-sm" data-toggle="modal" data-target="#createVendorModal">
                                <i class="fa fa-plus-circle" style="font-size:36px;color:#337AB7;margin-top:-10px;"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrder.DateOrdered" class="control-label">Order Date:</label>
                <input name="DateOrdered" asp-for="PurchaseOrder.DateOrdered" class="form-control" />
                <span asp-validation-for="PurchaseOrder.DateOrdered" class="text-danger"></span>

            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <div class="form-group mb-2">
                <label asp-for="PurchaseOrder.VendorPO" class="control-label">Vendor PO:</label>
                <input name="VendorSKU" asp-for="PurchaseOrder.VendorPO" class="form-control" />
                <span asp-validation-for="PurchaseOrder.VendorPO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrder.DeliveryDate" class="control-label">Delivery Date:</label>
                <input name="DeliveryDate" asp-for="PurchaseOrder.DeliveryDate" class="form-control" />
                <span asp-validation-for="PurchaseOrder.DeliveryDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6 text-center">
            <input name="submit" type="submit" value="Create Order" class="btn btn-success" />
        </div>
        <div class="col-6 text-center">
            <a class="btn btn-danger" style="width:auto;" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>
@*
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
            <script type="text/javascript">
                $("#btnAddPart").click(function () {
                    var partName = $("#partName option:selected").text();
                    var part = $("#partName").val();
                    var qnty = $("#qntyOrdered").val();

                    var tBody = $("#tblItems > TBODY")[0];

                    //add row
                    var row = tBody.insertRow(-1);

                    var cell = $(row.insertCell(-1)).addClass("col-7 pl-4");
                    cell.html(partName);

                    cell = $(row.insertCell(-1)).addClass("col-4");
                    cell.html(qnty);

                    //add button
                    cell = $(row.insertCell(-1)).addClass("col-1");
                    var btnRemove = $("<input />");
                    btnRemove.attr("type", "button");
                    btnRemove.attr("onClick", "Remove(this);");
                    btnRemove.append("<i class='fa fa-trash-o'></i>");
                    cell.append(btnRemove);

                });

                function Remove(button) {
                    var row = $(button).closest("TR");
                    var name = $("TD", row).eq(0).html();
                    if (confirm("Do you want to delete: " + name)) {
                        var table = $("#tblItems")[0];

                        table.deleteRow(row[0].rowIndex);
                    }
                };
            </script>
        </body>
*@