@model IEnumerable<CS4790TeamProject.Models.PurchaseOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Purchase Orders</h1>
<br />
<p>
    <a asp-action="Create" id="create-button"><i class="fa fa-plus-circle" style="font-size:36px;"></i></a>
</p>

<ul class="nav nav-pills" role="tablist" style="font-weight:bold;">
    <li><a id="Orders-tab" class="nav-link active" href="#all_tab" role="tab" data-toggle="tab">All</a></li>
    <li><a id="Orders-tab" class="nav-link" href="#pending_tab" role="tab" data-toggle="tab">Pending</a></li>
    <li><a id="Orders-tab" class="nav-link" href="#received_tab" role="tab" data-toggle="tab">Received</a></li>
    <li><a id="Orders-tab" class="nav-link" href="#overdue_tab" role="tab" data-toggle="tab">Overdue</a></li>
</ul>


<div class="tab-content">
    
    <div class="tab-pane active" id="all_tab">
        <br />
        <div style="float:right;">

            <label>Search:</label>
            <input id="myInput" type="text" style="border-radius:5px;"/>
        </div>
        <br />
        <br />
        <div id="myDIV">

            <div class="container pre-scrollable" style="overflow:scroll;">
                <ul id="myList" style="list-style:none;">

                    @foreach (var p in Model)
                    {
                        <li>

                            @await Html.PartialAsync("PurchaseOrderSummary", p)
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="pending_tab">
        <br />
        <div class="container pre-scrollable" style="overflow:scroll;">

            @foreach (var p in Model.Where(p => !p.Received))
            {
                @await Html.PartialAsync("PurchaseOrderSummary", p);
            }

        </div>
    </div>
    <div class="tab-pane" id="received_tab">
        <br />

        <div class="container" style="overflow:scroll;">

            @foreach (var p in Model.Where(p => p.Received))
            {
                @await Html.PartialAsync("PurchaseOrderSummary", p);
            }

        </div>
    </div>
    <div class="tab-pane" id="overdue_tab">
        <br />

        <div class="container" style="overflow:scroll;">

            @foreach (var p in Model.Where(p => p.DeliveryDate.Day < DateTime.Now.Day))
            {
                @await Html.PartialAsync("PurchaseOrderSummary", p);
            }

        </div>
    </div>


</div>