@model CS4790TeamProject.Models.Item

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnhandQty" class="control-label"></label>
                <input asp-for="OnhandQty" class="form-control" />
                <span asp-validation-for="OnhandQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListRetailCost" class="control-label"></label>
                <input asp-for="ListRetailCost" class="form-control" />
                <span asp-validation-for="ListRetailCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReorderQty" class="control-label"></label>
                <input asp-for="ReorderQty" class="form-control" />
                <span asp-validation-for="ReorderQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxQty" class="control-label"></label>
                <input asp-for="MaxQty" class="form-control" />
                <span asp-validation-for="MaxQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasureID" class="mr-3">Measure type:</label>
                <select name="measureID" asp-for="MeasureID" class="form-control" asp-items="@ViewBag.measureID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MeasureAmnt" class="control-label"></label>
                <input asp-for="MeasureAmnt" class="form-control" />
                <span asp-validation-for="MeasureAmnt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>