@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <li>
            <a href="@Url.Action("Index", "Inventory")"><span>Inventory</span></a>
        </li>
        <li>
            <a href=""><span>Orders</span></a>
        </li>
        <li>
            <a href="@Url.Action("Assemble", "Inventory")"><span>Assemble</span></a>
        </li>
        <li>
            <a href=""><span>Vendor</span></a>
        </li>
        <li>
            <a href=""><span>Alerts</span></a>
        </li>
        <li>
            <a href=""><span>Reports</span></a>
        </li>
    </ul>
    
</div>
